body {
    background-color: #fff;
    height: 700px;
    display: flex;
    justify-content: center;
    align-self: center;
}
#main {
    display: flex;
    justify-content: center;
    align-self: center;
}
.container {
    font-family: sans-serif;
    font-size: 32px;
    border-radius: 30px;
    width: 500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #fcfcfc;
    box-shadow: 2px 8px 10px;
}

.container span{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    color : #919191;
}

}
#title {
    font-size: 3rem;
    margin-bottom: 0;
}
#counter {
    font-size: 2rem;
}
button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #3ec3d9;
    border: none;
    color: white;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
}
button:hover{
    background: #e7e7e7;
    color: #13c0dc;
}